<div class="call">
  <div class="call-box-top">
    {{ if .site.Data.contact.address }}
        <div class="call-address">住所：{{ .site.Data.contact.address }} </div>
    {{ end }}
    {{ if .site.Data.contact.phone }}
        <div class="call-phone">
          <br>お問い合わせ・予約・専用ダイヤル<br>
          {{ .site.Data.contact.phone }} （平日12:00～20:00）
        </div>
    {{ end }}
    {{ if .site.Data.contact.email }}
        <div class="call-email">メール：<a href="mailto:{{ .site.Data.contact.email }}">{{ .site.Data.contact.email }}</a></div>
    {{ end }}
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="{{ .site.Data.contact.contact_button_link | relURL }}" class="button">Contact</a>
      </div>
    {{ end }}
</div>

